body {
  background-color: #191414;
  overflow-x: hidden;
}

h1 {
  color: #1DB954;
  margin-left: 1%;
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  margin-bottom: 0;
}

p {
  margin-left: 2%;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}
form {
  margin-top: 5%;
}
input,select {
  width: 25%;
  opacity: 0.5;
  padding: 12px 20px;
  margin: 1%;
  margin-left: 5%;
  display: block;
  border: 1px solid #1DB954;
  border-radius: 25px;
  box-sizing: border-box;
  text-align: center;
  color: #FFFFFF;
  background-color: #191414;
  display: inline;
}

button {
  border-radius: 20px;
  background-color: transparent;
  color: #1DB954;
  border: 1px solid #1DB954
}


.picture {

}
.info {
  border: 1px solid #1DB954;
  border-radius: 25px;
  height: 200px;
}
.link {

}

#headerimg {
  height: auto;
  width: 20%;
  margin-top: 2%;
}
