body {
  background: #009FFF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
margin-left: 45%;
}

input {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-left: 5%;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  background: linear-gradient(to right, #ec2F4B, #009FFF);
}

label {
  margin-right: 19%;
  display: block;
  text-align: center;
}

button {
    border-color: Transparent;
    border-radius: 2%;
    margin-left: 15%;
    width: 50%;
    height: 15%;
    background-color: Transparent; /* 009FFF */
    transition: 1s;
}
button:hover, button:active {
  background-color: #B04C79;  /* ec2F4B */
  transition: 1s;
}

.modal-content {
  background: linear-gradient(to right, #009FFF, #ec2F4B);
  margin: auto;
  margin-top: 5%;
  padding: 20px;
  border: 2px solid white;
  width: 80%;
  cursor: default;
}

.close {
  cursor: pointer;
}
#removeBtn {
  margin-top: 5%;
  margin-left: 20%;
}
