body {
  background: #009FFF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-y: hidden;
  overflow-x: hidden;
}

img{
  margin-left: 40px;
}
p{
  margin-left: 43px;
}

a {
  float:left;
  margin-left:15px;
}

h1 {
margin-left: 40%;
}

input {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-left: 5%;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  background: linear-gradient(to right, #ec2F4B, #009FFF);
  transition: all 2s;
  opacity: 0.5;
}

input:hover, input:active, input[type="text"]:valid {
  transition: all 2s;
  width: 75%;
  opacity: 1;
}
#sbmt {
  width: 15%;
  opacity: 1;
}

label {
  margin-left: 7%;
  display: block;
  text-align: left;
}

.modal-content {
  background: linear-gradient(to right, #009FFF, #ec2F4B);
  margin: auto;
  margin-top: 5%;
  padding: 20px;
  border: 2px solid white;
  width: 80%;
  cursor: default;
}

.close {
  cursor: pointer;
}
#lst {
  margin-top: 2%;
}
#who {
  display: none;
}
li {
  cursor: pointer;
}
#info{
  text-align: center;
  border-top: 1px solid black;
}
