body {
  background: #009FFF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-y: hidden;
  overflow-x: hidden;
}

.topnav {
  overflow: hidden;
  background: linear-gradient(to right, #dc2424, #4a569d);
  width: 15%;
  border-bottom-right-radius: 25px;
  border-bottom-style: solid;
  border-bottom-color: white;
}
a {
  float:left;
  margin-left:15px;
}

h1 {
margin-left: 40%;
}

input {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-left: 5%;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  background: linear-gradient(to right, #ec2F4B, #009FFF);
}

label {
  margin-right: 15%;
  display: block;
  text-align: center;
}

#dlt {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    border-color: #009FFF;
    border-radius: 25px;
    margin-left: 35%;
    width: 15%;
    height: 15%;
    background-color: transparent;
    transition: 1s;
}
#dlt:hover, #dlt:active {
  background-color: #B04C79;  /* ec2F4B */
  transition: 1s;
}

#dlt.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

#dltT {
  margin-top: 10px;
  background: -webkit-linear-gradient(#4b6cb7, #182848);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal-content {
  background: linear-gradient(to right, #009FFF, #ec2F4B);
  margin: auto;
  margin-top: 5%;
  padding: 20px;
  border: 2px solid white;
  width: 80%;
  cursor: default;
}

.close {
  cursor: pointer;
}
#lst {
  margin-top: 2%;
}
#removeBtn {
  margin-bot: 15%;
  margin-left: 40%;
}
